

/* GENERAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  padding: 0.5rem 0; /* Gunakan padding responsif dengan rem (ukuran relatif) */
  text-align: center;
}

ul {
  margin-bottom: 0;
}

/* GENERAL NAVBAR STYLING*/
.navbar {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Pastikan navbar mencakup seluruh lebar layar */
  z-index: 1000; /* Agar tetap di atas elemen lainnya */
  background-color: black; /* Pastikan ada background agar konten di bawah tidak terlihat */
  box-shadow: 0 0.1rem 0.2rem rgba(255, 255, 255, 0.3); /* Tambahkan bayangan untuk pemisahan */
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f8f9fa !important;
}

.nav-link {
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0.25rem 0.5rem;
}

/* DROPDOWN NAVBAR STYLING*/
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ccc; /* Ubah warna link saat hover (opsional) */
}

/* IMAGE STYLING */
.smaller-img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 60%;
  height: auto;
  border-radius: 10%;
  border: 0.2rem solid rgba(255, 255, 255, 1);
  transition: transform 0.3s ease;
}

.smaller-img:hover {
  transform: scale(1.05);
}

/* GALLERY & BUTTON STYLING */
/* Wrapper untuk galeri */
.gallery-wrapper {
  display: flex;/* Mengatur foto dalam satu baris */
  justify-content: space-between; /* Memusatkan galeri */
  gap: 1rem; /* Jarak antar foto */
  align-items: flex-start; /* Menjaga foto rata atas */
  flex-wrap: wrap; /* Agar responsif di layar kecil */
}

.button-wrapper {
  display: flex;/* Mengatur foto dalam satu baris */
  justify-content: left; /* Memusatkan galeri */
  gap: 1rem; /* Jarak antar foto */
  align-items: flex-start; /* Menjaga foto rata atas */
  flex-wrap: wrap; /* Agar responsif di layar kecil */
}

/* Kontainer individual untuk foto */
.photo-container {
  width: calc(33.333% - 1rem); /* Lebar tiap foto sama dalam 3 kolom */
  max-width: auto; /* Membatasi lebar maksimum */
  aspect-ratio: 3 / 2; /* Menjaga proporsi kotak */
  overflow: hidden; /* Memastikan foto tidak keluar kotak */
  border-radius: 1rem; /* Membuat sudut membulat */
  position: relative;
}

/* Gambar di dalam kontainer */
.photo-container img {
  width: 100%; /* Gambar mengisi lebar kontainer */
  height: 100%; /* Gambar mengisi tinggi kontainer */
  object-fit: cover; /* Memastikan gambar dipotong proporsional */
  display: block;
  border-radius: 0.5rem;
}

/* MAIN SIZE */
.main-half-screen {
  min-height : 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-full-screen {
  min-height: 100vh; /* Memenuhi satu layar penuh */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Menjaga konten tetap di tengah secara vertikal */
}

.container {
  padding: 1.5rem 0;
}

.row {
  min-height: 75vh;
}

/* ALL TEXT STYLING */
h0, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h0 {
  font-weight: bold; /* Membuat tulisan tebal */
  font-size: 7rem;    /* Menentukan ukuran font, sesuaikan sesuai kebutuhan */
  line-height: 1;
}

h1 {
  font-weight: bold;
}

h2, h3, h4 {
  font-weight: normal;
}

.i {
  font-style: italic;
}

/* DIVIDER LINE */
.section-divider {
  border-top: 0.1rem solid rgb(0, 0, 0); /* Warna dan ketebalan garis */
  width: 100%;
  opacity: 0.5;
}

.divider {
  height: 2rem;
}

/* LIST STYLING */
.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgba(121, 121, 121, 0.5); /* Border */
  border-radius: 1rem;
  padding: 0.5rem; /* Padding di dalam kotak */
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  margin-bottom: 2rem;
}

.list-container:hover {
  transform: scale(1.01); /* Zoom saat hover */
}

.list-padding {
  padding: 0.5rem;
}

/* LOGO STYLING */
/* Logo Wrapper */
.logo-wrapper {
  display: flex;
  flex-wrap: wrap; /* Agar bisa pindah baris jika layar terlalu kecil */
  justify-content: center; /* Pusatkan logo */
  gap: 2rem; /* Jarak antar logo */
  margin: 1rem 0rem; /* Tambahkan jarak dari judul */
}

/* Kotak bundar untuk setiap logo */
.logo-container {
  width: 7rem; /* Ukuran kotak */
  height: 7rem; /* Ukuran kotak */
  border-radius: 10%; /* Membuat bentuk bundar */
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
  align-items: center; /* Pusatkan secara vertikal */
  background-color: #ffffff; /* Warna background kotak */
  border: 0.1rem solid rgba(0, 0, 0, 0.5); /* Border */
  padding: 0.8rem; /* Padding di dalam kotak */
  overflow: hidden; /* Memastikan konten tidak melebihi kotak */
  transition: transform 0.3s ease; /* Animasi saat hover */
}

/* Efek hover */
.logo-container:hover {
  transform: scale(1.05); /* Zoom saat hover */
}

/* Logo di dalam kotak */
.logo-img {
  max-width: 100%; /* Maksimal lebar sesuai kontainer */
  max-height: 100%; /* Maksimal tinggi sesuai kontainer */
  object-fit: contain; /* Menjaga proporsi logo */
}

/* EFEK TOMBOL BERANDA */
#tombolberanda {
  background-color: black;
  color: white;
  border: 0.15rem solid white;
  transition: all 0.3s ease;
  transform: scale(1);
}

#tombolberanda:hover {
  background-color: white;
  color: black;
  border: 0.15rem solid white;
  transform: scale(1.1);
}

#tombolkontak {
  background-color: white;
  color: black;
  border: 0.15rem solid black;
  transition: all 0.3s ease;
  transform: scale(1);
}

#tombolkontak:hover {
  background-color: black;
  color: white;
  border: 0.15rem solid black;
  transform: scale(1.1);
}


/* RESPONSIVE WEB STYLING */

@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
  .smaller-img {
    width: 100%; /* Pastikan gambar tidak keluar dari layar */
    height: auto;
    padding-top: 5%;
  }

  h0 {
    font-size: 2rem; /* Perkecil ukuran heading */
    text-align: center; /* Centerkan teks untuk layar kecil */
  }

  h4 {
    font-size: 1.25rem;
  }

  .btn {
    font-size: 1rem; /* Sesuaikan ukuran tombol */
  }

  .text-end {
    text-align: center !important; /* Gambar tetap center di layar kecil */
  }

  .row.align-items-center {
    flex-direction: column; /* Atur elemen gambar dan teks menjadi vertikal */
  }

  footer p {
    font-size: 0.8rem;
  }

  .photo-container {
    width: calc(50% - 1rem); /* Dua kolom di layar medium */
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  h0 {
    font-size: 4rem;
    text-align: left !important;
  }

  .btn {
    font-size: 1.5rem; /* Sesuaikan ukuran tombol */
  }

  img.smaller-img {
    width: 80%; /* Atur gambar agar lebih kecil */
  }

  .logo-container {
    width: 60px;
    height: 60px;
  }

  .logo-img {
    width: 50%;
  }

  .photo-container {
    width: 100%; /* Satu kolom di layar kecil */
  }
}
