

/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

body {
  font-family: 'https://fonts.googleapis.com/css?family=Space+Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header dan Footer menggunakan ukuran responsif dari Bootstrap */
header {
  padding: 0.5rem 0; /* Gunakan padding responsif dengan rem (ukuran relatif) */
}

footer {
  padding: 0.5rem 0; /* Gunakan padding responsif dengan rem (ukuran relatif) */
  text-align: center;
}

/* Main Container Padding */
.container {
  padding: 1.5rem 0;
}

/* Buttons */
.btn-outline-dark {
  border: 2px solid #000;
  color: #000;
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

/* Highlighting Active Navbar Item */
.nav-link.active {
  font-weight: bold;
  color: #343a40 !important;
}

/* Gaya untuk gambar agar nempel di kanan */
.smaller-img {
  max-width: 60%; /* Sesuaikan dengan lebar yang diinginkan */
  height: auto;
}


/* Gaya untuk h1 */
h1 {
  font-weight: bold; /* Membuat tulisan tebal */
  font-size: 8rem;    /* Menentukan ukuran font, sesuaikan sesuai kebutuhan */
}
